@charset "UTF-8";

@media screen and (min-width: 668px) {
    header{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    header > h1{
        flex: 0 0 160px;
        align-self: flex-start;
        border: 01px dotted black;
    }
    header nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        width: 570px;
        border: 01px dotted black;
        padding: 10px;
    }
    header > nav > a{
        flex: 0 0 81px;
    }
    
}