@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    box-sizing: border-box;
    text-align: center;
}

@media screen and (min-width: 768px){
    html, body{
        background-color: blueviolet;   
    }
    main{
        height: 100vh;
    }
}
@media screen and (min-width: 1025px){
    html, body{
        background-color: brown;
    }
    main{
        height: 100vh;
    }
}
@media screen and (min-width: 1600px){
    html, body{
       background-color: burlywood; 
    }
    main{
        height: 100vh;
    }
}