@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    margin: auto;
}
header{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    margin: auto;
    margin-top: 10px;
    width: 60vw;
    border-radius: 05px;
}
header > h1{
    font-size: 1.5em;
    text-shadow: 01px 01px 01px rgba(0, 0, 0, 0.356);
    text-align: center;
    padding: 10px;
}
header > p {
    text-align: center;
    padding: 10px;
}
#menuHamburguer{
    display: block;
    color: blue;
    text-align: center;
    padding: 10px;
    width: 100px;
    margin: auto;
}
#menuHamburguer:hover{
    background-color: rgba(211, 211, 211, 0.425);
    color: black;
    cursor: pointer;
}
nav{
    display: none;
}

nav > a{
    text-align: center;
    color: black;
    text-decoration: none;
    display: block;
}
nav > a:hover{
    background-color: rgba(128, 128, 128, 0.418);
    cursor: pointer;
}
body{
    background-image: url(../images/back-phone.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    margin: auto;
    margin-bottom: 20px;
    width: 85vw;
    background-color: rgba(255, 255, 255, 0.74);
    border: 01px solid black;
    border-radius: 05px;
    
}
article > h2{
    text-align: center;
    margin-top: 10px;
}
article > p{
    margin-top: 20px;
    text-align: center;
    text-indent: 20px;
    text-align: justify;
}
footer{
    padding: 05px;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    text-align: center;
    height: 40px;
}
footer > p > a{
    text-decoration: none;
    color: white;
}
footer > p > a:hover{
    text-decoration: underline;
}