@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@media screen and (min-width: 768px) {
    body{
        
        background-image: url(../images/back-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
    }
    main{
        flex: 1;
    }
}
@media screen and (min-width: 1025px) {
    body{
        background-image: url(../images/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    main{
        flex: 1;
    }
    #menuHamburguer{
        width: 100vw;
    }
    nav{
        text-align: center;
    }
    nav > a{
        display: inline;
        background-color:  rgba(211, 211, 211, 0.425);
        border-radius: 06px;
        margin: 10px;
    }
    nav > a:hover{
        color: white;
        border-style: groove;
        border-color: rgb(226, 43, 211);
        
    }    
    
}
@media screen and (min-width: 1600px) {
    body{
        background-image: url(../images/back-tv.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
    }
    main{
        flex: 1;
    }
    nav > a:hover{
        border-color: blue;
    }
    
    
}