@charset "UTF-8";

/* Declaração Geral */
@media all{
    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    html, body{
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    h1, p, code{
        color: white;
    }
    h1{
        text-shadow: 01px 02px 0px rgba(0, 0, 0, 0.527);
        padding: 10px;
    }
}


/* Declaração modo Portrait */
@media screen and (orientation: portrait) {
    body{
        background-image: url(../images/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/* Declaração modo Landscape */
@media screen and (orientation: landscape) {
    body{
        background-image: url(../images/cev-landscape.jpg);
        background-position: left bottom;
    }
}